header {
    height: 120px;
    text-align: center;
    color: #777;
    padding: 0 20px;
    box-sizing: border-box;

    p {
        height: 50px;
    }

    h1 {
        font-size: 26px;
        height: 60px;
        line-height: 60px;
    }

}